.header {
    &Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 15px;
        height: 56px; 
        background-color: #9F9F9F;
    }

    &Logo {
        margin-left: 20px;
        font-size: 24px;
        font-weight: 400;
        color: #000000
    }
}