@import "../../app/variables.scss";

.error {
  position: absolute;
  font-size: 10px;
  top: 58px;
  left: 80px;
  color: rgb(110, 65, 65);
}

.input {
  &Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &Label {
    padding-left: 80px;
    text-align: start;
    width: 60%;
    font-size: 16px;
    font-weight: 500;
  }


  &Item {
    box-sizing: content-box;
    width: 50%;
    margin: 0px auto 20px;
    background-color: $mainGray;
    color: $lightGray;
    border: none;
    outline: none;
    box-shadow: none;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 300;
  
  
    &::placeholder {
      color: $lightGray;
      font-weight: 300;
    }
  
    &:last-child {
      margin-bottom: 50;
    }
  
    &:hover {
      box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
    }
  
  }
}
