.addButton {
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: #D9D9D9;
    border-color: transparent;
    border-radius: 0px;
    position: relative;
    transition: all 0.2s;
    &:hover {
        border: 1px solid #787878;
    }
    &:focus,
    &:focus-visible {
        background-color: #787878;
        outline: none;
    }
    &:before,
    &:after {
        content: '';
        width: 3px;
        height: 19px;
        background-color: #ffffff;
        position: absolute;
        bottom: 28%;
        right: 45%;
    }
    &:after {
        transform: rotate(90deg);
    }
}

