@import "../../app/variables.scss";

.tableContainer {
  margin: 100px auto;
  color: $tableMain;
  width: $contentContainerWidth;
}

.tableHeader {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  z-index: 1;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.458);

  &:nth-child(odd) {
    background-color: $lightGray;
  }
}

.tableRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  &:nth-child(odd) {
    background-color: $lightGray;
  }

  &:nth-child(even) {
    background-color: $mainGray;
  }
}

.tableCell {
  padding-left: 20px;
  text-align: start;
}