@import "../../app/variables.scss";

.tableContainer {
  width: 100%;
  margin: 100px auto;
  color: $white;
  width: $contentContainerWidth;
}

.tableHeader {
  z-index: 1;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.458);
}

.tableHeader,
.tableRow {
  position: relative;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: space-around;


  &:nth-child(odd) {
    background-color: $lightGray;
  }
}

.tableRow {
  &:nth-child(even) {
    background-color: $mainGray;
  }
}

.tableCell {
  text-align: start;
  width: 100%;

  &:nth-last-child(1) {
    text-align: end;
  }

  &Headers{
    font-weight: 700;
  }
}